.fas {
  color: #ff4605;
}

.about-tittle {
  color: #111;
  font-size: 41px;
  font-weight: 900;
}

.first-para {
  color: #111;
  font-size: 20px;
  font-weight: 400;
}

.secondnd-para {
  font-size: 17px;
}
