body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.product {
  color: #fff;
  text-align: center;
  background-color: blueviolet;
  border-radius: 10px;
  border: 2px solid black;
  width: 50%;
  margin: 20px auto;
  padding: 1rem;
}

.counter {
  text-align: center;
}

.countries {
  text-align: center;
}

li {
  list-style-type: none;
}

ul {
  padding: 0;
}

@media only screen and(max-width:767px) {
  .single-manage-container {
    display: inline-block !important;
  }
}

@media only screen and (max-width: 600px) {
  .col-md-12 .single-manage-container {
    display: block !important;
    text-align: center;
  }

  .col-md-12 .single-manage-container .manage-item-des {
    width: 100%;
  }
  .col-md-12 .single-manage-container .manage-price {
    display: block;
    text-align: center;
  }

  .navbar-dark .navbar-toggler-icon {
    background-image: url("../public/menu.png");
  }
}
